<div class="text-center">
  <h1>メッセージ新規作成ページ</h1>
</div>

<div class="row-">
  <div class="col-sm-6 offset-sm-3">
  <%= form_with(model: @post, local: true) do |f| %>
  
  <div class ="form-group0">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control"%>
  </div>  
    
  <div class="form-group0">
    <%= f.label :content, '説明' %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group0">
    <%=f.label :post_image, "写真" %>
    <%= f.attachment_field :post_image, class: "form-control" %>
  </div>
  
  <div class="form-group0">
    <%= f.label :teacher_name, "先生の名前" %>
    <%= f.text_field :teacher_name, class: "form-control" %>
  </div>
  
  <div class="form-group0">
    <%= f.label :subject, "教科名" %>
    <%= f.text_field :subject, class: "form-control" %>
  </div>
  
 <div class="form-group0">
   <%=f.label :note, "ノート" %>
   <%= f.file_field :note %>
 </div>
  
  <div class=y1>
  <%= f.submit '投稿',class: "btn btn-black btn-block" %>
  </div>
<% end %>
<div class=y>
<%= link_to '一覧に戻る', posts_path %>
</div>
 </div>
</div> 
